* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(images/brooke-lark-08bOYnH_r_E-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding-right: 20%;
  background-blend-mode: luminosity;
}

.wrapper {
  width: 90%;
  max-width: 450px;
}
h1 {
  color: rgb(50, 10, 150);
  opacity: 0.75;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  text-align: center;
  line-height: 1.2;
}

.display-container {
  position: relative;
  background-color: #000000;
  border-radius: 1rem;
  border-bottom: 1.35rem solid darkturquoise;
  margin: 1rem 0;
  padding-top: 0.35rem;
}

.display {
  appearance: none;
  width: 100%;
  background-color: transparent;
  padding: 1.15rem 1rem;
  color: darkturquoise;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 30px;
  letter-spacing: 1px;
  padding-right: 3.25rem;
  border: none;
}

.display::placeholder {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  font-size: 1rem;
  line-height: 30px;
  color: darkturquoise;
  opacity: 0.65;
  text-transform: uppercase;
  transform: translateY(-50%);
}

.display-container button {
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  background-color: transparent;
  border: 2px solid grey;
  padding: 5px;
  border-radius: 10px;
}

.input-container.active {
  display: flex;
}
.input-container {
  display: none;
  flex-direction: column;
  width: 100%;
  background-color: #6d0808;
  border-radius: 1rem;
  padding: 2rem;
  border-bottom: 0.35rem solid #7c9412;
}

.input-container p {
  font-size: 1rem;
  line-height: 30px;
  text-transform: capitalize;
  color: white;
  text-transform: uppercase;
}
